{% load static from staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>  
  <title>Montag</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% compress css %}
  {% block css %}
  <!-- bower:css -->
  <!-- endbower -->
  <link rel="stylesheet" href="{% static 'css/main.css'%}">
  {% endblock %}
  {% endcompress %}

</head>
<body>

  {% block content %}

  <p>Hello World</p>

  {% endblock %}
  

  {% compress js %}
  {% block javascript %}
  <!-- bower:js -->
  <script src="../static/bower_components/jquery/dist/jquery.js"></script>
  <script src="../static/bower_components/underscore/underscore.js"></script>
  <script src="../static/bower_components/backbone/backbone.js"></script>
  <script src="../static/bower_components/react/react.js"></script>
  <!-- endbower -->
  <script src="{% static 'js/main.js' %}"></script>
  {% endblock %}
  {% endcompress %}


  {% if debug %}
  <!-- livereload -->
  <script>
    document.write('<script src="http://'
      + location.host.split(':')[0]
      + ':35729/livereload.js"></'
      + 'script>')
  </script>
  {% endif %}

</body>
